<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>小学同学</string>
		<key>friends</key>
		<array>
			<dict>
				<key>url</key>
				<string>img00.png</string>
				<key>name</key>
				<string>张三</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img01.png</string>
				<key>name</key>
				<string>李四</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img02.png</string>
				<key>name</key>
				<string>王五</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img04.png</string>
				<key>name</key>
				<string>宋七</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img05.png</string>
				<key>name</key>
				<string>阿阿</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>初中同学</string>
		<key>friends</key>
		<array>
			<dict>
				<key>url</key>
				<string>img00.png</string>
				<key>name</key>
				<string>张三</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img01.png</string>
				<key>name</key>
				<string>李四</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img02.png</string>
				<key>name</key>
				<string>王五</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img03.png</string>
				<key>name</key>
				<string>赵六</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img04.png</string>
				<key>name</key>
				<string>宋七</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img05.png</string>
				<key>name</key>
				<string>阿阿</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img06.png</string>
				<key>name</key>
				<string>笨笨</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>高中同学</string>
		<key>friends</key>
		<array>
			<dict>
				<key>url</key>
				<string>img00.png</string>
				<key>name</key>
				<string>张三</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img01.png</string>
				<key>name</key>
				<string>李四</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img02.png</string>
				<key>name</key>
				<string>王五</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img03.png</string>
				<key>name</key>
				<string>赵六</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img04.png</string>
				<key>name</key>
				<string>宋七</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img05.png</string>
				<key>name</key>
				<string>阿阿</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img06.png</string>
				<key>name</key>
				<string>笨笨</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img07.png</string>
				<key>name</key>
				<string>匆匆</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>大学同学</string>
		<key>friends</key>
		<array>
			<dict>
				<key>url</key>
				<string>img00.png</string>
				<key>name</key>
				<string>张三</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img01.png</string>
				<key>name</key>
				<string>李四</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img02.png</string>
				<key>name</key>
				<string>王五</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img03.png</string>
				<key>name</key>
				<string>赵六</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img04.png</string>
				<key>name</key>
				<string>宋七</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img05.png</string>
				<key>name</key>
				<string>阿阿</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img06.png</string>
				<key>name</key>
				<string>笨笨</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img07.png</string>
				<key>name</key>
				<string>匆匆</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img08.png</string>
				<key>name</key>
				<string>菜菜</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>研究生同学</string>
		<key>friends</key>
		<array>
			<dict>
				<key>url</key>
				<string>img00.png</string>
				<key>name</key>
				<string>张三</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img01.png</string>
				<key>name</key>
				<string>李四</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img02.png</string>
				<key>name</key>
				<string>王五</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img03.png</string>
				<key>name</key>
				<string>赵六</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img04.png</string>
				<key>name</key>
				<string>宋七</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img05.png</string>
				<key>name</key>
				<string>阿阿</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img06.png</string>
				<key>name</key>
				<string>笨笨</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img07.png</string>
				<key>name</key>
				<string>匆匆</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img08.png</string>
				<key>name</key>
				<string>菜菜</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
			<dict>
				<key>url</key>
				<string>img09.png</string>
				<key>name</key>
				<string>等等</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<false/>
			</dict>
			<dict>
				<key>url</key>
				<string>img010.png</string>
				<key>name</key>
				<string>吖吖</string>
				<key>say</key>
				<string>快乐每一天</string>
				<key>online</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
